<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455783033921-qmib3l45djn20ids513tmvsv8jh1gh4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455783033921-qmib3l45djn20ids513tmvsv8jh1gh4m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>455783033921-tbnru6492kjai4kc3artvsdkvtah6c8u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk2EnleI8cFunqy0DIdjqwM2TI3dQ_2nY</string>
	<key>GCM_SENDER_ID</key>
	<string>455783033921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.campaign</string>
	<key>PROJECT_ID</key>
	<string>my-pend-campaign</string>
	<key>STORAGE_BUCKET</key>
	<string>my-pend-campaign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455783033921:ios:8a895b421781f25c956ac0</string>
</dict>
</plist>